# Auto detect text files and perform LF normalization
* text=auto

# Windows scripts must always use CRLF line endings
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Unix scripts must always use LF line endings
*.sh text eol=lf
